<div class="home container-fluid page">
	<div class="explore-div">
		<div class="explore-input f-row">
			<div class="search-div f-row">
				<fa-icon
					[icon]="searchIcon"
					class="s-icon"
					size="lg"
					[styles]="{ color: 'grey' }"
				></fa-icon>
				<input
					class="search-input"
					type="text"
					name="searchTxt"
					id="searchTxt"
					placeholder="Explore courses"
				/>
			</div>
			<div class="select-div">
				<label for="category">Category</label>
				<select
					name="category"
					id="category"
					class="form-select"
					aria-label="Default select example"
				>
					<option selected>All</option>
					<option value="1">Web Development</option>
					<option value="2">Machine Learning</option>
					<option value="3">Mobile Development</option>
					<option value="4">Programming</option>
					<option value="5">Personality Development</option>
				</select>
			</div>
			<div class="select-div">
				<label for="difficulty">Difficulty</label>
				<select
					name="difficulty"
					id="difficulty"
					class="form-select"
					aria-label="Default select example"
				>
					<option selected>All</option>
					<option value="1">Beginner</option>
					<option value="2">Intermediate</option>
					<option value="3">Advanced</option>
				</select>
			</div>
			<div class="select-div">
				<label for="duration">Duration (h)</label>
				<select
					name="duration"
					id="duration"
					class="form-select"
					aria-label="Default select example"
				>
					<option selected>All</option>
					<option value="1">Less than 5</option>
					<option value="2">5 to 10</option>
					<option value="3">10 to 20</option>
					<option value="3">More than 20</option>
				</select>
			</div>
			<button
				type="button"
				class="btn btn-primary search-btn"
				(click)="filterCourses()"
			>
				Search
			</button>
		</div>

		<div class="explore-course-grid">
			<app-course-card
				*ngFor="let course of filteredCourseList"
				[courseData]="course"
				[ifEnrolled]="false"
			></app-course-card>
		</div>
	</div>
</div>
