@import '/src/styles.scss';

.content-div {
	flex: 1;
}

.module-div {
	width: 100%;
}

.module-head {
	width: 100%;
	background: rgb(240, 240, 240);
	border: 1px solid lightgrey;
	padding: 20px;
	cursor: pointer;
	user-select: none;

	* {
		width: 100%;
		background: rgb(240, 240, 240);
	}

	strong {
		font-size: 18px;
		margin-right: 10px;
	}
}

.preview {
	color: $primary;
	text-decoration: underline;
	cursor: pointer;
}

.content-element {
	padding: 20px;
	border: 1px solid rgb(240, 240, 240);

	& > * {
		margin: 0 10px;
	}

	p {
		font-size: 18px;
	}

	.type {
		flex: 1;

		p {
			margin-left: 15px;
		}
	}
}