<div class="card" (click)="onCardClick()">
	<img src="/assets/course-thumbnail.jpg" alt="course-thumbnail" />
	<div class="card-body">
		<h6 class="card-title">{{ courseData.title }}</h6>
		<p>{{ courseData.instructor }}</p>
		<p class="card-text" *ngIf="!ifEnrolled">
			{{ courseData.short_desc }}
		</p>
		<div class="f-row numbers" *ngIf="!ifEnrolled">
			<p>{{ courseData.rating }}/5<span class="star">&#9733;</span></p>
			<p>Rs. {{ courseData.fees }}</p>
		</div>
		<div class="progress-div" *ngIf="ifEnrolled">
			<progress [value]="courseProgress" max="100"></progress>
		</div>
	</div>
</div>
