<div class="conatiner-fluid footer-div f-row">
	<div class="footer-options f-row">
		<div class="options">
			<p class="option">Teach on Udemy</p>
			<p class="option">Get the app</p>
			<p class="option">About us</p>
			<p class="option">Contact us</p>
		</div>
		<div class="options">
			<p class="option">Blog</p>
			<p class="option">Help and Support</p>
			<p class="option">Careers</p>
			<p class="option">Investors</p>
		</div>
		<ul class="options">
			<p class="option">Terms</p>
			<p class="option">Privacy Policy</p>
			<p class="option">Cookie settings</p>
			<p class="option">Accessibility Statement</p>
		</ul>
	</div>
	<div class="footer-brand">
		<div class="brand f-row" routerLink="/">
			<img src="/assets/uDemo-logo-bgDark.png" alt="uDemoLogo" class="logo" />
			<p class="b-name">Demo</p>
		</div>
		<p>&copy; 2023 uDemo, Inc.</p>
	</div>
</div>
