<div class="container-fluid page form-div f-col">
	<form class="f-col form">
		<div class="form-group">
			<label for="login-email" class="req">Email</label>
			<input
				type="login-email"
				name="login-email"
				id="login-email"
				class="form-control"
				placeholder="eg. johndoe@gmail.com"
			/>
		</div>
		<div class="form-group">
			<label for="login-pw" class="req">Password</label>
			<input
				type="password"
				name="login-pw"
				id="login-pw"
				class="form-control"
			/>
		</div>
		<button
			type="button"
			class="btn btn-primary form-btn"
			(click)="onUserLogin()"
		>
			Log in
		</button>
	</form>

	<p>
		Don't have an account?
		<span routerLink="/user-registration">Sign up</span>
	</p>
</div>
